.gridContainer {
    width: 450px;
    height: 450px;
    border: solid blue 2px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: auto;
}

div {
    border: red dotted 2px;
    height: 20px;
    flex: auto;
}