.gridContainer {
    width: 550px;
    height: 550px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: auto;
}

div {
    border: red dotted 2px;
    flex: auto;
}